name: Retrain AQI Model Daily
'on':
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch: null
jobs:
  retrain-model:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install hopsworks==4.2.* "hopsworks[python]" scikit-learn pandas numpy matplotlib shap
      - name: Run model training script
        env:
          HOPSWORKS_API_KEY: '${{ secrets.HOPSWORKS_API_KEY }}'
        run: |
          python scripts/train-model.py
