name: Retrain AQI Model Daily

on:
  schedule:
    - cron: "0 0 * * *"   #runs every day at midnight UTC
  workflow_dispatch:

jobs:
  retrain-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install hopsworks==4.2.* hopsworks[python] scikit-learn pandas numpy matplotlib shap joblib

      - name: Retrain Model and Register
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
        run: |
          python scripts/train-model.py
