name: Update Features Hourly
'on':
  schedule:
    - cron: 0 * * * *
  workflow_dispatch: null
jobs:
  update-features:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install pandas numpy requests hopsworks==4.2.* "hopsworks[python]"
      - name: Run Feature Update Script
        env:
          HOPSWORKS_API_KEY: '${{ secrets.HOPSWORKS_API_KEY }}'
          OPENWEATHER_API_KEY: '${{ secrets.OPENWEATHER_API_KEY }}'
        run: |
          python scripts/fetch-features.py
